@import url('https://fonts.googleapis.com/css2?family=Jua&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: UniMates;
}

@plugin "daisyui/theme" {
    name: "UniMates";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: #FFF0E2;
    --color-base-200: #FFF1D8;
    --color-base-300: #FFE2AF;
    --color-base-content: oklch(0% 0 0);
    --color-primary: #E5EBFF;
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: #FFE881;
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: #FFA200;
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: #ad9c7d;
    --color-info-content: oklch(0% 0 0);
    --color-success: #00ba7b;
    --color-success-content: oklch(0% 0 0);
    --color-warning: #E8B152;
    --color-warning-content: oklch(0% 0 0);
    --color-error: #FFBBBB;
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 1rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@theme {
    /* font */
    --font-jua: 'Jua', sans-serif;
    --font-kantumruy-pro: 'Kantumruy Pro', sans-serif;
    --font-balsamiq-sans: 'Balsamiq Sans', cursive;
    --font-quicksand: 'Quicksand', sans-serif;

}

@layer base {
    body {
        @apply font-kantumruy-pro text-base-content bg-base-100 mx-6 flex flex-col items-center;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-jua font-extrabold leading-[160%];
    }

    h1 {
        @apply text-center text-4xl;

    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    p {
        @apply font-kantumruy-pro text-lg text-center;
    }
}