---
import "../styles/global.css";
import Bouton from "../components/Bouton.astro";
---

<html lang="fr" data-theme="UniMates">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>UniMates</title>
  </head>
  <body style="overflow: hidden">
    <h1 class="mt-25 text-5xl">UniMates</h1>
    <p>Ton compagnon bien être au quotidien</p>

    <!-- Familiers -->
    <div class="relative h-100 w-full overflow-hidden">
      <!-- Poussin : haut gauche -->
      <img
        src="/familiers/plume.png"
        alt="Compagnon poussin"
        class="absolute top-4 left-4"
      />

      <!-- Girafe : centre droite -->
      <img
        src="/familiers/sunny.png"
        alt="Compagnon girafe"
        class="absolute top-1/2 right-4 -translate-y-1/2"
      />

      <!-- Abeille : bas gauche -->
      <img
        src="/familiers/buzzy.png"
        alt="Compagnon abeille"
        class="absolute bottom-4 left-10"
      />
    </div>
    <div class="mt-10 flex flex-col items-center gap-4 px-6">
      <Bouton text="Commencer" url="/inscription" variant="beige" />
      <Bouton text="Se connecter" url="/connexion" variant="jaune" />
      <button onclick="window.location.href='/inscription'">TEST INSCRIPTION</button>
    </div>
  </body>
</html>
