---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="fr" data-theme="UniMates">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>UniMates</title>
	</head>
	<body>
		<slot />
		<Navigation />
	</body>
</html>
