---
import "../styles/global.css";
import HeaderSimple from "../components/HeaderSimple.astro";
const { ...item } = Astro.props;
---

<html lang="fr" data-theme="UniMates">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{item.nomPage} | UniMates</title>
  </head>
  <body>
    <HeaderSimple item={{ titre: item.titre_page, intro: item.intro_page }} />
    <slot />
  </body>
</html>
